.contact-section {
   margin-top: 10em;
   height: 500px;
   overflow: hidden;
   background: transparent no-repeat bottom/cover
      url(@img/contact-background.jpg);
   background-attachment: fixed;
}

.contact-section > * {
   -webkit-backdrop-filter: blur(2px);
   backdrop-filter: blur(2px);
}

.dark-background {
   background-color: rgba(0, 0, 0, 0.24);
}

.cotact-content {
   background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#020024),
      color-stop(41%, #2c2640),
      to(#544d6d)
   );
   background: linear-gradient(
      to bottom,
      #020024 0%,
      #2c2640 41%,
      #544d6d 100%
   );
   height: 500px;
   -webkit-transform-origin: top right;
   transform-origin: top right;
   -webkit-transform: skewX(-8.7deg);
   transform: skewX(-8.7deg);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.cotact-content > * {
   -webkit-transform: skewX(8.7deg);
   transform: skewX(8.7deg);
}

.contact-form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.contact-us-text {
   z-index: 4;
   position: absolute;
   margin-left: 2.5em;
}

.contact-form .contact-form-input {
   min-height: 46px;
   margin-bottom: 20px;
   background: transparent;
   color: #fff;
   border: solid 2px white;
   outline: none;
}

.contact-form .contact-form-input::-webkit-input-placeholder {
   color: white;
}

.contact-form .contact-form-input:-ms-input-placeholder {
   color: white;
}

.contact-form .contact-form-input::-ms-input-placeholder {
   color: white;
}

.contact-form .contact-form-input::placeholder {
   color: white;
}

@media (max-width: 600px) {
   .contact-section {
      height: auto;
      background-position: 50%;
   }
   .cotact-content {
      height: auto;
      -webkit-transform: none;
      transform: none;
   }
   .cotact-content > * {
      -webkit-transform: none;
      transform: none;
   }
   .contact-form {
      min-height: 500px;
   }

   .contact-us-text {
      margin-top: 3em;
      margin-bottom: 3em;
      position: relative;
      vertical-align: middle;
   }
}
