.image-container {
   background-image: url(@img/group.jpg);
   background-size: cover;
   background-attachment: 'fixed';
   background-position: 'center';
   background-repeat: 'no-repeat';
   height: 75vh;
   width: '100%';
}

.aboutus-header {
   margin-bottom: 2.5em;
   margin-left: 3em;
}
