.welcome-section {
   display: -ms-grid;
   display: grid;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   grid-template-areas: 'welcomeBackground welcomeImage ';
   margin-bottom: 15em;
   width: 100%;
   background-color: #2c2640;
}

.background-colored {
   -ms-grid-row: 1;
   -ms-grid-column: 1;
   grid-area: welcomeBackground;
   max-height: 580px;
   color: white;
}

.background-image {
   max-height: 500px;
}

.welcome-image {
   -ms-grid-row: 1;
   -ms-grid-column: 2;
   grid-area: welcomeImage;
   max-height: 550px;
   max-width: 575px;
   position: absolute;
   top: 15%;
   left: 50%;
}

.btn-white-primary {
   background-color: white !important;
   color: #2c2640 !important;
   border: 2px solid white !important;
}

.btn-white-primary:hover {
   background-color: #2c2640 !important;
   border: 2px solid white !important;
   color: white !important;
}

.btn-colored-primary {
   background-color: #2c2640 !important;
   border: 2px solid white !important;
   color: white !important;
}

.btn-colored-primary:hover {
   background-color: white !important;
   color: #2c2640 !important;
   border: 2px solid #2c2640 !important;
}

@media (min-width: 786px) {
   .welcome-image {
      max-height: 550px;
      max-width: 575px;
   }
}

@media (max-width: 600px) {
   .welcome-section {
      grid-template-areas: 'welcomeImage welcomeBackground ';
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
   }
   .welcome-image {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-column: 1;
      grid-column: 1;
      position: relative;
      height: auto;
      width: 100%;
      top: 0%;
      left: 0%;
   }
   .background-colored {
      -ms-grid-row: 2;
      grid-row: 2;
      -ms-grid-column: 1;
      grid-column: 1;
      height: 700px;
   }
}

.btn-primary {
   background-color: white;
   color: #2c2640;
   border: 2px solid white;
}

.btn-primary:hover {
   background-color: #2c2640;
   border: 2px solid white;
}

.hr-line {
   display: block;
   width: 150px;
   border-top: 2px solid white;
}
